<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>折扣商品实时推送</title>
    <link rel="stylesheet" type="text/css" href="css/bootmetro.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootmetro-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootmetro-icons.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootmetro-ui-light.min.css">
    <link rel="stylesheet" type="text/css" href="css/switchery.min.css">
    <link rel="stylesheet" href="css/options.css">
    <link rel="stylesheet" href="css/query.css">
    <script src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootmetro-panorama.min.js"></script>
    <script type="text/javascript" src="js/bootmetro-pivot.min.js"></script>
    <script type="text/javascript" src="js/bootmetro-charms.min.js"></script>
    <script src="js/switchery.min.js"></script>
    <script src="js/options.js"></script>
    <script src="js/query.js"></script>
</head>
<body>
<div class="navbar">
      <div class="navbar-inner">
         <div class="container">
            <a class="brand" href="#">折扣商品实时推送</a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
               <ul class="nav">
                  <li><a href="options.html">设置</a></li>
                  <li class="active"><a href="query.html">查看订阅消息</a></li>
               </ul>
               <ul class="nav pull-right">
                  <li><a href="###" data-toggle="modal" data-target="#J-about">关于本插件</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
<div class="body-wrapper">

    <div id="J-query-q" class="query-list nav nav-pills">
    </div>
    <div id="J-content">

    </div>
    <div id="J-loadmore" class="loadmore clearfix" style="diplay:none;">
        <button class="btn">加载更多30条...</button>
    </div>
    <div id="J-loading" class="loading">
        <div class="loadingicon progress progress-indeterminate">
            <div class="win-ring small"></div>
        </div>
        <span class="loadingmoreword">加载中，请稍候...</span>
    </div>
</div>
<div id="J-info">
</div>
<div id="J-empty-info" class="listview-item big bg-color-green" style="display:none;">
  <div class="pull-left">
     <div class="listview-item-object icon-point-right"></div>
  </div>
  <div class="listview-item-body">
     <h4 class="listview-item-heading">空空如也~</h4>
     <p class="two-lines">额，您好像还没添加要关注的关键词哦~<br/>
        快去【<a class="orange" href="options.html">设置页面</a>】填写吧！
     </p>
 </div>
</div>

<script id="J-template" style="display:none" type="text/template">
    <div class="item clearfix">
        <h4><%= title %></h4>
        <div class="thumbnail">
            <img src="<%= img %>" />
        </div>
        <div class="info">
            <p class="desc"><%= detail %></p>
            <div class="links row">
                <p class="footer span7 fl"><span class="mallname"><%= mallname %></span><span class="source-box"><%=time%>前从<span class="source"><%= source %></span>同步</span></p>
                <button data-link="<%= url %>" class="span1 rt btn buy btn-success">立即购买</button>
            </div>
        </div>
    </div>
</script>
<a id="J-top" class="affix" href="#top">返回顶部</a>
<div id="J-about" class="modal hide fade in" >
  <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal"></button>
     <h3 id="myModalLabel">感谢使用本插件！</h3>
  </div>
  <div class="modal-body">
     <ul class="nav nav-tabs" id="J-model-tab">
         <li class="active"><a href="#J-ver-box">当前版本</a></li>
         <li><a href="#J-bug">报告问题</a></li>
       </ul>

       <div class="tab-content">
         <div id="J-ver-box" class="tab-pane active">
             <p id="J-version"></p>
             <div>
                <button class="btn btn-success" id="J-update-btn" data-loading-text="检查中...">检查更新</button>
                <span id="J-update-info"></span>
             </div>
         </div>
         <div class="tab-pane" id="J-bug">
             <div class="form-horizontal">
                  <div class="control-group">
                     <label class="control-label" for="J-mybug">问题描述</label>
                     <div class="controls">
                        <textarea rows="3" id="J-mybug"></textarea>
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="J-email">Email</label>
                     <div class="controls">
                        <input type="text" id="J-email" placeholder="您的Email地址">
                     </div>
                  </div>
                  <div class="control-group">
                     <div class="controls">
                        <button id="J-send-mail" type="submit" class="btn" data-loading-text="发送中...">发送</button>
                     </div>
                  </div>
               </div>
         </div>
       </div>

  </div>
  <div class="modal-footer">
     <button class="btn" data-dismiss="modal">关闭</button>
     <button id="J-like" class="btn btn-success" data-link="https://chrome.google.com/webstore/detail/fencnigkojiegaifcngopoenckcgbcoo">我喜欢这个插件，我要去Chrome商店给好评</button>
  </div>
</div>

</body>
</html>
