<div class="modal hide fade" id="J-qrcontent">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3>掏出手机扫码打开页面</h3>
  </div>
  <div class="modal-body">
    <div id="J-qr"></div>
    <p id="J-qrtitle"></p>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-success">关闭</a>
  </div>
</div>
