.mr5{
    margin-right: 5px;
}

.mt5{
    margin-right: 5px;
}

#J-nav{
    .btn.btn-nav{
        border: 1px solid #ddd;
        background-color: white;
        &:hover{
            background-color: #eee;
        }
    }
    .tnav{
        margin-bottom: 10px;
    }
}
