@import 'item';

#J-nav{
    .btn{
        border: 1px solid #ddd;
        background-color: white;
        font-weight: normal;
        &:hover{
            background-color: #eee;
        }
    }
    .btn.btn-success{
        font-weight: bold;
        background-color: #5bb75b;
        border-color: #5bb75b;
    }
    .tnav{
        margin-bottom: 10px;
    }
}
p.desc{
    word-break: break-all;
}
